<div class="dialog-content">
	{{#if description}}
		<p>
			{{ description }}
		</p>
	{{/if}}
	{{#each inputs as | i |}}
		<div class="prompt">
			{{> (concat "modules/dialog-manager/templates/ask/inputs/" i.type ".hbs") i}}
		</div>
	{{/each}}
</div>
